{% extends 'core/base.html' %}
{% load staticfiles %}
{% block import_js_head %}
    <script type="text/javascript" src="{% static 'cart/js/main.js' %}"></script>
 {% endblock %}
{% block title %} Cart {% endblock %}


{% block content %}
    {% include "core/nav_bar.html" %}
    {% include "core/modal_base.html" %}
    {% for item in cheque %}
        <p>
            {{ item.ordered_amount }} {% if item.imported %}imported {% endif %}{{ item.name }}: {{ item.ordered_price }}
            <button class="btn btn-sm btn-danger clear-cart" value="{{ item.id }}">X</button>
        </p>
    {% endfor %}
    {% if taxes %}<p>Sales taxes: {{ taxes }}</p>{% endif %}
    {% if total %}<p>Total: {{ total }}</p>
        <button class="btn btn-success">Pay</button>
        <button class="btn btn-danger clear-cart" value="all">Clear cart</button>
    {% endif %}
{% endblock %}
