{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %} goods {% endblock %}
{% block import_css_head %}
    <link href="{% static 'goods/css/main.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block import_js_head %}
    <script type="text/javascript" src="{% static 'goods/js/main.js' %}"></script>
{% endblock %}
{% block content %}
    {% include "core/nav_bar.html" %}
    {% include "core/modal_base.html" %}
    <div class="row">
        {% for item in data %}
            <div class="col-md-2 item">
                <p>Name: {{ item.name }}</p>

                <p>Price: {{ item.price }}</p>

                <p>Imported: {% if item.imported %}Yes{% else %}No{% endif %}</p>

                <p>
                    <label for="amount">Amount: </label>
                    <input class="amount" type="number" value="0" min="0"/>
                </p>
                <button class="btn btn-success add-to-cart" value="{{ item.id }}">Add to cart</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
