{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}TEST TASK{% endblock %}</title>
    <script type="text/javascript" src="{% static 'core/js/lib/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/lib/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/main.js' %}"></script>
    <script>
        $(function () {
            setAjaxCSRF("{{ csrf_token }}")
        });
    </script>
    <link href="{% static 'core/css/lib/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet" media="screen">
    {% block import_css_head %}{% endblock %}
    {% block import_js_head %}{% endblock %}
</head>
<body>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>