<div class="nav_holder"></div>
<nav role="navigation" class="navbar navbar-custom navbar-fixed-top top-bar">
    <div class="container">
        <div class="text-center">
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav user-menu">
                    {% for item in navbar %}
                        <li>
                            {% if item in request.path %}
                                <a class="active">{{ item }}</a>
                            {% else %}
                                <a class="" href="/{{ item }}">{{ item }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>